@model RecetasDeCocina.Data.Models.Usuario

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreDeUsuario" class="control-label"></label>
                <input asp-for="NombreDeUsuario" class="form-control" />
                <span asp-validation-for="NombreDeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferenciasAlimentarias" class="control-label"></label>
                <input asp-for="PreferenciasAlimentarias" class="form-control" />
                <span asp-validation-for="PreferenciasAlimentarias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlimentosAlergicos" class="control-label"></label>
                <input asp-for="AlimentosAlergicos" class="form-control" />
                <span asp-validation-for="AlimentosAlergicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestriccionesAlimentarias" class="control-label"></label>
                <input asp-for="RestriccionesAlimentarias" class="form-control" />
                <span asp-validation-for="RestriccionesAlimentarias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
